
$dark:#020024;

$pink:#ed1b54;
$pink-10:#ff0151;
$pink-20:#cf0042;
$pink-30:#bd0040;
$pink-40:#83002c;

$white:#ffffff;
$grey-10:#888888;
$grey-20:#666666;
$grey-30:#444444;
$grey-40:#363636;
$grey-50:#333333;
$grey-60:#222222;
$black:#111111;

$btn:#423b3b;
$btn-border:#231F1f;
$btn-hover:#2b2727;
$btn-hover-border:#111111;

$btn-primary:$pink-10;
$btn-primary-border:$pink-30;
$btn-primary-hover:$pink-20;
$btn-primary-hover-border:$pink-40;